# Data Plotting

#### Gold Price Historical Data

The dataset chosen contains historical data of gold prices.The data is visualized below in a pandas dataframe.

In [2]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

df_data_1 = pd.read_csv(body)
df_data_1.head()

         Date   Open   High    Low  Close  Volume Currency
0  2000-01-04  281.0  281.0  281.0  282.7       4      USD
1  2000-01-05  283.2  283.2  283.2  281.1      16      USD
2  2000-01-06  281.4  281.4  281.4  281.4       0      USD
3  2000-01-07  281.9  281.9  281.9  281.9       0      USD
4  2000-01-10  281.7  281.7  281.7  281.7       0      USD