<a href="https://colab.research.google.com/github/shayan911/Data-science-journey/blob/main/IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.7.13

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
import pandas as pd

In [6]:
recipes = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%202/recipes.csv")

In [7]:
recipes

,country,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,Japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57687,Japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57688,Japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57689,Japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57690,Japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [15]:
df = pd.DataFrame(recipes)

In [20]:
pd.set_option('display.max_rows', 5)
display(recipes)

          country almond  ... yogurt zucchini
0      Vietnamese     No  ...     No       No
1      Vietnamese     No  ...     No       No
...           ...    ...  ...    ...      ...
57689       Japan     No  ...     No       No
57690       Japan     No  ...     No       No

[57691 rows x 384 columns]

In [12]:
recipes.head()

,country,almond,angelica,anise,anise_seed,...,wood,yam,yeast,yogurt,zucchini
0,Vietnamese,No,No,No,No,...,No,No,No,No,No
1,Vietnamese,No,No,No,No,...,No,No,No,No,No
2,Vietnamese,No,No,No,No,...,No,No,No,No,No
3,Vietnamese,No,No,No,No,...,No,No,No,No,No
4,Vietnamese,No,No,No,No,...,No,No,No,No,No

In [10]:
recipes.shape

(57691, 384)